In [3]:
import pandas as pd 
import scraper.reddit as sr
import scraper.tweets as st

In [4]:
subreddits = ['SuicideWatch', 'depression', 'Anxiety']
df1 = pd.DataFrame(data = sr.get_subreddits(subreddits,5000))

In [5]:
df1.head()

,id,subreddit,title,text
0,greo4o,SuicideWatch,“If you truly wanted to kill yourself and wasn...,"Yeah because I DONT WANT TO FUCKING DO IT, but..."
1,c34ko8,SuicideWatch,My girlfriend killed herself a week after we b...,Hello. I don't really know how to start this. ...
2,f9d5go,SuicideWatch,Anyone else not want to die and not want to ki...,
3,e8gjky,SuicideWatch,Raped in front of my girlfriend. feeling like ...,"\n\nI don't know what to say or do, I just fe..."
4,hy8bh6,SuicideWatch,"I wish I could walk into a hospital, throw my ...",But of course they’d lock me up in the mental ...

In [7]:
queries = ['suicide','die','end my life']
df2 = pd.DataFrame(data=st.get_tweets(queries,))

In [9]:
df2.head()

,id,date,text
0,1361102918728884230,2021-02-14 23:59:58+00:00,@CourageBipolar @VoltzRoad @BAIntactivists had...
1,1361102815104557057,2021-02-14 23:59:33+00:00,@pcrafton4 @MrMan45676274 @beardedmilkdud6 @Ci...
2,1361102759966224386,2021-02-14 23:59:20+00:00,@langoo @St3v3ns1 @BFryback Sounds like the mo...
3,1361102721139499016,2021-02-14 23:59:11+00:00,tw // suicide ??\n\nsomeone talk me out of it pls
4,1361102674079457281,2021-02-14 23:59:00+00:00,Death metal looked to have exhaled its last by...